.Error {
    width: 95%;
    border-radius: 8px;
    margin: 1em auto;
    display: flex;
    position: absolute;
    padding: 2em 1em;
    box-sizing: border-box;
    bottom: 10%;
    background-color: #ef4646;
    color: white;
    text-align: center;
    opacity: 1;
    transition: .85s ease;
}

.Error.hidden {
    opacity: 0;
}