.Weather {
    order: 2;
    height: 0vh;
    margin-left: 2em;
    border-radius: 8px;
    box-sizing: border-box;
    width: 80%;
    margin: 3em auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: .75s ease;
    opacity: 1;
    height: 43vh;
}

.Weather__icon {
    width: 40%;
    margin-top: 2em;
    margin-bottom: -5em;
}

.Weather__info {
    width: 95%;
    padding: 2em;
    position: relative;
}

.Weather__location h1, 
.Weather__description {
    font-size: 5vw;
}

.Weather__description {
    margin-top: .8em;
}

.Weather__location {
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: .5em;
}

.Weather__temperature {
    font-size: 16vw;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .6em auto .4em;
    letter-spacing: 2px;
}

.Weather__ranges {
    font-size: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Weather__maxtemp,
.Weather__mintemp {
    flex-basis: 50%;
}

.Weather__maxtemp::after,
.Weather__mintemp::after {
    content: "";
}

.Weather__description {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bold;
}

/* Animations Utilities */

.floating {
    animation: float 6s ease-in-out infinite;
}

@keyframes float {
	0% { transform: translatey(0px) }
	50% { transform: translatey(-20px) }
	100% { transform: translatey(0px) }
}