.Navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Navbar__tab {
    flex-basis: 33.33%;
    width: 33.33%;
    text-align: center;
    height: 60px;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:         inset 1px 0px 1px 2px #dbdbdb;
    -moz-box-shadow:    inset 1px 0px 1px 2px #dbdbdb;
    -webkit-box-shadow: inset 1px 0px 1px 2px #dbdbdb;
}

.Navbar__tab.active {
    background-color: var(--primary);
    box-shadow: unset;
    color: white;
}