.Geolocator__loading {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color:black;
    opacity: 0.2;
    pointer-events: none;
    z-index: 1;
}

.Geolocator__icon {
    width: 30px;
    height: 30px;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    position: absolute;
    top: 4%;
    right: 6%;
}

.Geolocator__icon.spin {
    animation: 1s spin infinite;
}

@keyframes spin {
    from { 
        transform: rotate(0deg);
    }
    to { 
        transform: rotate(359deg);
    }
}
@-moz-keyframes spin {
    from { 
        -moz-transform: rotate(0deg);
    }
    to { 
        -moz-transform: rotate(359deg);
    }
}
@-webkit-keyframes spin {
    from { 
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}